@using BlazorServer.Components
@using SharedLibrary.Dtos
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Components;


<!-- ======= Frontend Section ======= -->
@if (SectionComponentItem != null)
{


    <section id="frontend" class="solution">
        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>@SectionComponentItem.Title</h2>
                <p>@SectionComponentItem.Description</p>
            </header>

            <div class="row align-items-center">

                @foreach (SectionComponentProjectDto item in SectionComponentItem.SectionComponentProjects)
                {
                    <div class="col-lg-6 mt-3" data-aos="fade-up" data-aos-delay="100">
                        @if (item.SliderImagesBase64Data.Count > 1)
                        {
                            <div class="box">
                                <div class="slider">
                                    <div class="slides">
                                        @foreach (string s in item.SliderImagesBase64Data)
                                        {
                                            <img src="@s" class="img-fluid" alt="">
                                        }
                                    </div>
                                    <button class="arrow prev">&#10094;</button>
                                    <button class="arrow next">&#10095;</button>
                                </div>
                                <h3>@item.Title</h3>
                                <p>
                                    @(new MarkupString(item.Description))
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="box">
                                <div class="slider">
                                    @foreach (string s in item.SliderImagesBase64Data)
                                    {
                                        <img src="@s" class="img-fluid" alt="">
                                    }
                                    <button class="arrow prev">&#10094;</button>
                                    <button class="arrow next">&#10095;</button>
                                </div>
                                <h3>@item.Title</h3>
                                <p>
                                    @(new MarkupString(item.Description))
                                </p>
                            </div>
                        }
                    </div>
                }
            </div>

            <div class="container aos-init aos-animate icons">
                <div class="col-md-12 text-center">
                    <div class="social-links mt-3">
                        @if (SectionComponentItem.Icons != null)
                        {
                            foreach (SectionComponentIconDto icon in SectionComponentItem.Icons)
                            {
                                <a href=@(new MarkupString(icon.LinkData)) target="_blank"
                                   rel="noreferrer"><img src=@(new MarkupString(icon.IconsBase64Data)) alt="Blazor" width="60" height="60" /></a>
                            }

                        }
                    </div>
                </div>

            </div>
        </div>

       
    


        </section>

        <!-- End Frontend Section -->
}
